:root {
  --dark-blue: hsl(233, 26%, 24%);
  --lime-green: hsl(136, 65%, 51%);
  --bright-cyan: hsl(192, 70%, 51%);
  --grayish-blue: hsl(233, 8%, 62%);
  --light-grayish-blue: hsl(220, 16%, 96%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
}

body {
  width: 100%;
  overflow-x: hidden;
  color: var(--dark-blue);
  font-size: 18px;
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: var(--very-light-gray);
}

.desktop {
  display: none;
}

header {
  background: var(--white);
}
header .wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

nav {
  background: var(--white);
}
nav ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  display: none;
}

ul {
  margin: 0;
  text-decoration: none;
  list-style: none;
}

h1,
h2 {
  font-size: 2.5rem;
  font-weight: 400;
}

h3 {
  font-weight: 400;
}

a {
  text-decoration: none;
  color: var(--dark-blue);
}

p {
  font-weight: 400;
  color: var(--grayish-blue);
}

button {
  border: none;
  border-radius: 50px;
  padding: 1rem 2rem;
  background: linear-gradient(to right, var(--lime-green), var(--bright-cyan));
  color: var(--white);
  font-weight: bold;
  font-size: 1.25rem;
  margin: 1rem auto;
}

#burger {
  border: none;
  border-radius: 0;
  padding: 0;
  width: 24px;
  height: 17px;
  background: url("./images/icon-hamburger.svg") no-repeat;
}
#burger.open {
  background: url("./images/icon-close.svg") no-repeat;
  width: 18px;
  height: 19px;
}

main {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(4, auto);
  row-gap: 1rem;
}

#presentation {
  max-height: 320px;
  grid-column: 1/2;
  overflow: hidden;
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
}
#presentation picture {
  grid-column: 1/2;
  grid-row: 1/2;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: -webkit-auto;
}
#presentation picture img {
  width: 100%;
  translate: 0 -77px;
}
#presentation img.mock {
  grid-column: 1/2;
  grid-row: 1/2;
  translate: 7% -131px;
  width: 90%;
}

#next-gen {
  grid-column: 1/3;
  margin-bottom: 4rem;
}

#features {
  grid-column: 1/3;
  background: var(--light-grayish-blue);
}
#features .wrapper {
  padding: 3rem 1rem;
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
}

#articles {
  grid-column: 1/3;
}
#articles .wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  padding-block: 1rem;
  margin-bottom: 3rem;
}
#articles img {
  width: 100%;
}

.article {
  width: 90%;
  border-radius: 8px;
  margin: auto;
  padding: 0;
  overflow: hidden;
  background-color: var(--white);
  text-align: left;
}
.article figcaption {
  padding: 1.5rem;
}
.article small {
  color: var(--grayish-blue);
}

footer {
  background: var(--dark-blue);
  color: var(--very-light-gray);
}
footer .wrapper {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  padding-block: 2rem;
}
footer ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
}
footer button {
  margin: 1rem auto;
  max-width: 50%;
}
footer a {
  color: var(--very-light-gray);
}
footer p {
  margin: 0;
}

.social-media {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  justify-content: center;
}

.attribution {
  padding: 1rem;
}

.wrapper {
  max-width: 1200px;
  margin: auto;
}

@media (width > 1024px) {
  body {
    display: grid;
  }
  .desktop {
    display: block;
  }
  .mobile {
    display: none;
  }
  header a,
  footer a {
    color: var(--grayish-blue);
  }
  main {
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(3, auto);
  }
  header {
    z-index: 2;
  }
  header nav ul {
    display: flex;
    flex-flow: row nowrap;
  }
  header button {
    margin: 0;
  }
  #next-gen {
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: left;
    margin-block: 5rem;
  }
  #next-gen .wrapper {
    max-width: 450px;
  }
  #next-gen .wrapper h1 {
    font-size: 3rem;
  }
  #presentation {
    grid-column: 2/3;
    grid-row: 1/2;
    overflow: visible;
  }
  #presentation picture img {
    transform: translate(85px, -113px);
    width: auto;
    height: 770px;
  }
  #presentation img.mock {
    transform: translate(175px, 44px);
    width: 80%;
  }
  #features .wrapper {
    text-align: left;
    gap: 2rem;
    justify-content: center;
    padding-block: 4rem;
    flex-flow: row wrap;
  }
  #features .wrapper hgroup {
    width: 100%;
  }
  #features .wrapper hgroup p {
    width: 645px;
  }
  #features .wrapper .feature {
    flex-basis: 23%;
  }
  #articles {
    width: auto;
    margin-block: 1rem 5rem;
    text-align: left;
  }
  #articles h2 {
    width: 100%;
  }
  #articles img {
    width: auto;
    height: 50%;
  }
  #articles .article {
    flex-basis: 23%;
    margin: 0;
    height: 500px;
  }
  #articles .article h3 {
    margin: 0.5rem 0;
  }
  #articles .article p {
    font-size: 14px;
    margin: 0;
  }
  #articles .article small {
    font-size: 12px;
  }
  footer .wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(3, auto);
  }
  footer .wrapper .social-media {
    grid-column: 1/2;
    grid-row: 2/3;
    justify-content: flex-start;
    padding: 0;
  }
  footer .wrapper .social-media img {
    width: 20px;
    height: 20px;
  }
  footer .wrapper #logo {
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: start;
  }
  footer .wrapper ul {
    grid-column: 2/3;
    grid-row: 1/3;
    display: inherit;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(3, 1fr);
    grid-auto-flow: column;
    justify-items: start;
    max-width: 350px;
  }
  footer .wrapper button {
    max-width: 201px;
    margin: 0;
    justify-self: end;
  }
  footer .wrapper .attribution {
    grid-column: 1/4;
    grid-row: 3/4;
    justify-self: end;
    padding: 0;
  }
}/*# sourceMappingURL=styles.css.map */